data/rpeer1
data/ca-tls-root-cert/*
data/orderer-ca-tls-root-cert/*
data/users/Org1OrgAdmin/msp/keystore/*
data/users/Org1OrgAdmin/msp/signcerts/*
fabric-ca-client-config.yaml
downloaded/*
bin/*
.DS_Store
tmp/